<head>
  <link href="signup.scss" rel="stylesheet">
</head>
<body class="text-center"> 
  <main class="form-signup">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <img class="mb-4" src="/assets/fishing.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <div class="form-floating">
        <%= f.text_field :nickname, class:"form-control", id:"floatingNickname", placeholder:"Nickname", autofocus: true, maxlength: "12" %>
        <%= f.label "nickname(maxlength:12)" %> 
      <div class="form-floating">
        <%= f.email_field :email, class:"form-control", id:"floatingInput", placeholder:"Email adress" %>
        <%= f.label :email %>
      </div>
      <div class="form-floating">
        <%= f.password_field :password, class:"form-control", id:"floatingPassword", placeholder:"Password" %>
        <%= f.label "password(minimumlength:6)" %>
      </div>
      <div class="form-floating">
        <%= f.password_field :password_confirmation, class:"form-control", id:"floatingPassword", placeholder:"Passwordconfirmation" %>
        <%= f.label :password_confirmation %>
      </div>


      <div class='login-btn'>
        <%= f.submit "新規登録" ,class:"w-100 btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </main>
</body>